/* NewPost.css */

.form-group {
    margin-bottom: 10px;
}

.repo-label {
    font-weight: bold;
    font-size: 1.2em;
}

.form_body {
    height: 200px;
    width: 100%;
}

.center {
    display: grid;
    place-items: center;
    height: 50vh;
    margin-top: 10px;
}

.submit_button {
    color: white;
    padding: 5px 10px;
    font-size: 15px;
    background-color: #BEBEBE;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    margin-right: 5px;
}